let mapleader = " "

set mouse=a
set hidden
set number
set showcmd
set wildmenu
set showmatch " show matching brackets
set incsearch
set hlsearch
set ignorecase smartcase
set nofixendofline
set scrolloff=8
set cursorline

" block insert
" set guicursor=n-v-c-i-ci-ve:block,r-cr:hor20,o:hor50
"   \,a:blinkwait700-blinkoff400-blinkon250-Cursor/lCursor
"   \,sm:block-blinkwait175-blinkoff150-blinkon175
set guicursor=n-v-c:block,i-ci-ve:ver25,r-cr:hor20,o:hor50
  \,a:blinkwait700-blinkoff400-blinkon250-Cursor/lCursor
  \,sm:block-blinkwait175-blinkoff150-blinkon175


" disable F1 as it's easy to accidentally hit on the touchbar
nnoremap <F1> <nop>
inoremap <F1> <nop>

" buffers
nnoremap <leader>w :w<CR>
nnoremap <leader>W :wq<CR>
nnoremap <leader>R :so $MYVIMRC<CR>

nnoremap <silent> <ESC><ESC> :nohlsearch<CR>

" Movement
" nnoremap <C-k> 10k
" nnoremap <C-j> 10j
" vnoremap <C-k> 10k
" vnoremap <C-j> 10j

" more logical Y command (C => c$ and D => d$
" note: this is default in nvim. keeping mapping for vim compatibility
nnoremap Y y$

nnoremap <silent><F5> :mod<CR>
vnoremap > >gv
vnoremap < <gv

" highlight without moving
nnoremap <leader>u :let @/='\<<C-R>=expand("<cword>")<CR>\>'<CR>:set hls<CR>

" Clipboard Copy Pasting
" nnoremap <leader>y "+y doesn't work for some reason
" directly map y with "+ register instead
nnoremap <leader>y "+y
nnoremap <leader>Y "+y$
vnoremap <leader>y "+y
vnoremap <leader>Y "+Y
nnoremap <leader>c "+y
nnoremap <leader>C "+y$
vnoremap <leader>c "+y
vnoremap <leader>C "+Y
nnoremap <leader>x "+d
nnoremap <leader>X "+D
vnoremap <leader>x "+d
vnoremap <leader>X "+D
nnoremap <leader>v "+p
nnoremap <leader>V "+P
vnoremap <leader>v "+p
vnoremap <leader>V "+P

" Delete into oblivion
nnoremap <leader>d "_d
nnoremap <leader>D "_D
vnoremap <leader>d "_d
vnoremap <leader>D "_D

" Yank Pasting only
nnoremap <leader>p "0p
nnoremap <leader>P "0P
vnoremap <leader>p "0p
vnoremap <leader>P "0P

" centering
" set scrolloff=999
nnoremap <leader>z :let &scrolloff=999-&scrolloff<CR>

" Folding
set foldenable
set foldmethod=indent
set foldlevelstart=99
set foldnestmax=10

" whitespace characters
" other listchars:
"set listchars=tab:»\ ,extends:›,precedes:‹,nbsp:·,trail:·
"set listchars=tab:→\ ,eol:↲,nbsp:␣,trail:•,extends:⟩,precedes:⟨
"set listchars=tab:\|\ ,nbsp:·,trail:·,extends:⟩,precedes:⟨
set list
set showbreak=↪\
if &encoding == "utf-8"
  set listchars=tab:│\ ,nbsp:·,trail:·,extends:⟩,precedes:⟨
else
  set listchars=tab:\|\ ,nbsp:·,trail:·,extends:⟩,precedes:⟨
endif
